
@font-face {
    font-family: 'OriginTech';
    src: url('../../../public/fonts/OriginTech.otf') format('opentype'),
         url('../../../public/fonts/OriginTech.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
