*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: linear-gradient(to bottom, #232526, #414345);
  min-height: 100%;
  background-attachment: fixed;
  background-size: cover;
}