.containerHome{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.boxHome{
  width: 95%;
  height:80vh;
  background: linear-gradient(to top, #232526, #414345);
  box-shadow: 7px 7px 7px#000000;
  border: none;
}

.navbar {
  width: 50px;
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Alinha os links ao início da navbar */
  flex-direction: column;
  align-items: center; /* Centraliza os links horizontalmente na navbar */
  margin: 10px;
  padding: 5px;
}

.list {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row; /* Mantém os links em uma coluna */
  justify-content: flex-start; /* Alinha os links ao topo da lista */
  align-items: center; /* Centraliza os links horizontalmente */
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  margin:10px;
  font-size: 0.7rem;
}

.link {
  display: flex;
  color: #d5d5d5;
  filter: drop-shadow(2px 2px 2px #000);
  transition: background 1s ease-in-out, color 1s ease-in-out;
  background: none; /* Nenhum fundo inicialmente */
  align-items: center; /* Centraliza o texto dentro do link */
  justify-content: center; /* Centraliza o texto dentro do link */
  margin-bottom: 10px; /* Espaçamento entre os links */
}

.link:hover {
  background: linear-gradient(180deg, cyan, magenta);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-text-animation 3s infinite alternate;
}

@keyframes gradient-text-animation {
  0% {
      background: linear-gradient(180deg, cyan, magenta);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  50% {
      background: linear-gradient(180deg, magenta, cyan);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  100% {
      background: linear-gradient(180deg, cyan, magenta);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}