
.contentIcon{
    width: 100%;
    display: flex;
    padding:10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.gitIcon{
    width: 44px;
    height: 44px;
}

.icons{
    width: 35px;
    height: 35px;
}
